.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: cornflowerblue;
    color: darkslategray;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

}

.recipe:hover{
    background-color:cyan;
    text-decoration: none;
}

.letter{
    font-size: 20px;
    font-weight: 500;
}
.recipes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img2{
    width: 25%;
    padding: 20px;
}

.h{
    text-align: center;
    color: white;
    padding: 20px 0px 20px 0px;
}

.img{
    border-radius: 50%;
    width: 50%;
    padding-bottom:20px ;
}

.date{
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
}

.link:hover{
    text-decoration: none;
    color: blueviolet;
}


@media screen and (max-width: 360px){
    .recipe{
        font-size: 18px;
    }
    .recipe2{
        height: 85vh;
        width: 53vh;
        font-size: 13px;
    }
    
    .letter{
        font-size: 18px;
    }
    .date{
        font-size: 18px;
    }
    .img2{
        width: 50%;
    }
    .datePicker{
        width: 125px;
    }
}

.recipe2{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(137, 214, 189);
    align-items: center;
    min-width: 40%;
    padding: 20px;
}

.li{
    text-decoration: none;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    position: absolute;
    color: #FFFFFF;
}

.li:hover{
    color: #FFFFFF;
    text-decoration: none;
}